@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #00c2de;
}

body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

/* header start */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}

header::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 100px;
    height: 5px;
    width: 40%;
    transform: translateY(-50%);
    background: linear-gradient(90deg, var(--primary), transparent);
}

.logo {
    font-size: 30px;
    color: #fff;
}

.logo img {
    max-width: 200px;
    filter: invert(1);
}

header .year {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 40px;
}

header .menu {
    position: relative;
    height: 30px;
    width: 30px;
    background: url('../images/menu-3-fill.png') no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
} 

header .menu.active {
    position: relative;
    height: 30px;
    width: 30px;
    background: url('../images/close-line.png') no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* header end */