@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #00c2de;
}

body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

/* header start */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}

header::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 100px;
    height: 5px;
    width: 40%;
    transform: translateY(-50%);
    background: linear-gradient(90deg, var(--primary), transparent);
}

.logo {
    font-size: 30px;
    color: #fff;
}

.logo img {
    max-width: 200px;
    filter: invert(1);
}

header .year {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 40px;
}

header .menu {
    position: relative;
    height: 30px;
    width: 30px;
    background: url('../images/menu-3-fill.png') no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
} 

header .menu.active {
    position: relative;
    height: 30px;
    width: 30px;
    background: url('../images/close-line.png') no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* header end */

/* nav start */
.nav {
    position: absolute;
    right: 100px;
    top: 0;
    width: 30%;
    height: 5px;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, transparent, var(--primary), var(--primary)) 30;
    background: transparent;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform-origin: right;
    z-index: 200;
}

.nav.active {
    top: 100px;
    width: 40%;
    height: 100px;
    border-top: 5px solid;
    border-bottom: none;
    border-image: linear-gradient(90deg, transparent, var(--primary), var(--primary), transparent) 30;
}

.nav li {
    position: relative;
    list-style: none;
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;
}

.nav.active li {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.nav li a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 8px 20px;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.nav li a:hover {
    box-shadow: 0 0 20px rgba(0, 194, 222, 0.5);
}

/* nav end */

/* banner start */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.9)
    );
}

.banner::before {
    position: absolute;
    content: '';
    top: 25%;
    left: 0;
    width: 5px;
    height: 40%;
    background: linear-gradient(
        var(--primary), 
        var(--primary), 
        transparent
    );
    z-index: 100;
}
/* banner end */









